.Navbar {
    position: absolute;
    width: 100%;
    padding: 0px 100px;
}

nav {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    max-width: 1321px;
}

.logo {
    color: white;
    display: flex;
    align-items: center;
    width: fit-content;
    font-weight: 600;
    z-index: 2;
    gap: 15px;
    font-size: 18px;
}

.Navbar ul {
    display: flex;
    align-items: center;
    z-index: 2;
    gap: 38px;
}

.Navbar ul li a {
    color: #888888;
    position: relative;
    font-weight: 500;
    transition: 0.3s;

    &:hover {
        color: white;
    }
}

.Navbar ul li a:hover::before {
    background-color: white;
    width: 100%;
}

.Navbar ul li a::before {
    content: "";
    position: absolute;
    background-color: #888888;
    bottom: -10px;
    width: 0%;
    height: 1.2px;
    transition: 0.3s;
}

.right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.right span {
    font-weight: 500;
}

.wait {
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 550;
    padding: 12px 20px;
    border-radius: 100px;
    font-size: 18px;
    transition: 0.3s;

    &:hover {
        background-color: #cfcfcf;
    }
}

.sidebar-toggle {
    border: none;
    outline: none;
    background: none;
    display: none;
    cursor: pointer;
}

.sidebar-toggle i {
    color: white;
    display: flex;
    font-size: 24px;
}

@media(max-width: 1230px) {
    .Navbar ul {
        display: none;
    }

    .right span, .right .wait {
        display: none;
    }

    .sidebar-toggle {
        display: flex;
    }
}

@media(max-width: 1024px) {
    .Navbar {
        padding: 0px 50px;
    }
}

@media(max-width: 525px) {
    .Navbar {
        padding: 0px 25px;
    }
}