.NotWorking {
    padding: 80px 100px;
}

.working-head {
    font-size: 84px;
    max-width: 872px;
    line-height: 88px;
    font-weight: 600;
}

.working-head span,
#work-grad {
    background: -webkit-linear-gradient(right, #D6B0BC, #7053FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grad-line {
    background: linear-gradient(to bottom, #FFFFFF00, #FFFFFF35);
    margin: 50px 0px;
    width: 5px;
    height: 450px;
}

.working-head.working-two {
    max-width: 943px;
    font-size: 48px;
    line-height: 48px;
}

.not-working-block {
    margin: 50px 240px 50px 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    position: relative;
}

.not-work-head {
    background: linear-gradient(to top, #141414, #0E0E0E);
    height: 600px;
    border-radius: 36px;
    padding: 80px 80px;
    display: flex;
    align-items: center;
}

.not-working-block p {
    font-size: 128px;
    font-weight: 500;
    line-height: 128px;
    letter-spacing: -3%;
    background: -webkit-linear-gradient(right, #D6B0BC, #7053FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.not-work-point {
    background: #131313;
    text-align: center;
    position: absolute;
    border: 2px solid #FFFFFF1A;
    border-radius: 34px;
    padding: 50px 25px;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
}

.not-work-point.point-one {
    top: 32px;
    left: -5%;
    max-width: 325px;
}

.not-work-point.point-two {
    top: 300px;
    left: -27%;
    max-width: 335px;
}

.not-work-point.point-three {
    bottom: -135px;
    left: 10%;
    max-width: 324px;
}

.not-work-point.point-four {
    bottom: -100px;
    right: 10%;
    max-width: 324px;
}

.not-work-point.point-five {
    top: 300px;
    right: -15%;
    max-width: 300px;
}

.not-work-point.point-six {
    top: 32px;
    right: -27%;
    max-width: 335px;
}

#bottom-head {
    padding-top: 150px;
}