.YourRight {
    padding: 80px 50px;
    height: 840px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.right-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0px 25px;
    z-index: 1;
}

.right-head {
    font-size: 88px;
    line-height: 88px;
    font-weight: 600;
}

.right-desc {
    color: #B8BCBC;
    max-width: 550px;
    font-size: 20px;
    margin-top: 25px;
}

.ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 200px;
    height: 383px;
    width: 784px;
    animation: ring infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
    background: linear-gradient(90deg, #7053FFCC, #D6B0BC80, #7053FF00);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    padding: 6px;
    background-clip: border-box;
}

.ring.r2 {
    animation: ring infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-delay: 2s;
}

.ring.r3 {
    animation: ring infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-delay: 4s;
}

@keyframes ring {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }

    50% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}

@media(max-width: 1550px) {
    .right-head {
        font-size: 72px;
    }
}

@media(max-width: 1300px) {
    .right-head {
        font-size: 50px;
        line-height: 50px;
    }
}

@media(max-width: 1200px) {
    .right-desc {
        max-width: 450px;
    }
}

@media(max-width: 700px) {
    .YourRight {
        overflow: hidden;
        padding: 80px 0px;
    }

    .ring {
        height: 300px;
    }

    .ring.r3 {
        display: none;
    }
}

@media(max-width: 600px) {
    .right-head {
        font-size: 40px;
    }

    .right-desc {
        font-size: 16px;
    }
}