.YourRight {
    padding: 80px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.shape.s-1 {
    width: 100%;
}

.shape.s-2 {
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shape.s-3 {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0px 25px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right-head {
    font-size: 88px;
    line-height: 88px;
    font-weight: 600;
}

.right-desc {
    color: #B8BCBC;
    max-width: 550px;
    font-size: 20px;
    margin-top: 25px;
}

@media(max-width: 1550px) {
    .right-head {
        font-size: 72px;
    }
}

@media(max-width: 1300px) {
    .right-head {
        font-size: 50px;
        line-height: 50px;
    }
}

@media(max-width: 1200px) {
    .shape.s-3 {
        display: none;
    }

    .right-desc {
        max-width: 450px;
    }
}

@media(max-width: 700px) {
    .YourRight {
        overflow: hidden;
        padding: 80px 0px;
    }

    .shape.s-1 {
        min-width: 100%;
    }

    .shape.s-2 {
        min-width: 75%;
    }
}

@media(max-width: 600px) {
    .right-head {
        font-size: 40px;
    }

    .right-desc {
        font-size: 16px;
    }
}