.App {
    background-color: black;
    color: white;
    overflow: hidden;
    min-height: 100vh;
}

.bottom-logo {
    color: #FFFFFF33;
    position: relative;
    font-size: 200px;
    font-weight: 600;
    bottom: -75px;
}